node_modules/
.expo/
dist/
web-build/

# macOS
.DS_Store

# Editor
.idea/
.vscode/

# Local env
.env
.env.local
.env.*.local

# Build artifacts
*.jks
*.p12
*.key
*.mobileprovision
*.orig.*

# Expo
*.tsbuildinfo

# Native build outputs
ios/Pods/
ios/build/
android/build/
android/app/build/

# Jest
coverage/
